body {
	background-color:white;
	position:relative;
}
html.flypanels-open, body.flypanels-open {
	overflow:hidden;
}


.side-nav {
	float:left;
	height:100%;
}

.right-col-margin-8 {
	margin-left:0;
}

.flypanels-container .flypanels-main .flypanels-content {
	transform:none;
	-o-transform:none;
	-ms-transform:none;
	-moz-transform:none;
	-webkit-transform:none;
}

.page-title {
	display:none;
}

p {
	line-height:1.4;
}

.shield {
	visibility:hidden;
	width:0;
}

#vt_access_nav.navbar-sticky {
	position:fixed;
}

.navbar-nav {
	margin-left:0;
}

.offcanvas {
	position:relative;
	z-index:1000;
}

a.ob {
	width:200px;
	text-align:center;
	display:block;
	margin:5px auto;
	padding:5px 8px;
	background-color:#ff6600;
	color:white;
	box-shadow:0 4px 0 #e15a00;
}

.logo-block {
	position:absolute;
	height:88px;
}

.vt-list-title {
	line-height:1.4;
}

ul {
	font-size:18px;
}

nav.navbar {
	height:0;
	visibility:hidden;
	overflow:hidden;
	display:none;
}

.flypanels-topbar {
	display:none;
}

#vt_body_col {
	width:100%;
	padding:0;
}

/* ============================================
              Main navigation
   ============================================ */
.uc-nav-c {
	font-size:1.2em;
	min-height:54px;
}
	.uc-nav-c .uc-nav {
		background-color:#282323;
		position:relative;
		z-index:1000;
		width:100%;
	}
	.uc-nav-c .uc-nav.sticky {
		position:fixed;
		top:0;
	}
		.uc-nav-c .uc-nav .nav-item {
			float:left;
			font-family:"PT Sans",sans-serif;
			position:relative;
		}
		.uc-nav-c .uc-nav .nav-item.right {
			float:right;
		}
		.uc-nav-c .uc-nav .nav-item:hover {
			background-color:#EDEADA;
		}
			.uc-nav-c .uc-nav .nav-item > a {
				padding:12px;
				color:white;
				text-decoration:none;
				display:block;
			}
			.uc-nav-c .uc-nav .nav-item:hover a {
				color:#333;
			}
				.uc-nav-c .uc-nav .nav-item > a > i {
					margin:0 10px;
				}
				.uc-nav-c .uc-nav .nav-item.right > a > i {
					margin:0 5px;
				}
			.uc-nav-c .uc-nav .nav-item .submenu {
				display:none;
				position:absolute;
				top:99%;
				overflow:hidden;
				box-shadow:2px 2px 1px #333;
			}
			.uc-nav-c .uc-nav .nav-item:hover .submenu {
				display:block;
			}
				.uc-nav-c .uc-nav .nav-item .submenu a {
					padding:12px 15px 12px 30px;
					display:block;
				}
				.uc-nav-c .uc-nav .nav-item .submenu a:first-child {
					padding-top:25px;
				}
				.uc-nav-c .uc-nav .nav-item .submenu a:last-child {
					padding-bottom:25px;
				}
				.uc-nav-c .uc-nav .nav-item .submenu a {
					font-size:.9em;
					line-height:1.2;
					background-color:#EDEADA;
					color:#333;
				}



/* ============================================
              Homepage Carousel
   ============================================ */
.vt-carousel h3 {
	font-size:32px;
}
.vt-carousel-control-belowImage {
	display:none;
}
.carousel-caption.left {
	padding-bottom:0;
	bottom:27px;
}
	.carousel-caption p {
		margin-bottom:0;
	}
	.carousel-caption .container {
		padding-left:20px;
		padding-right:20px;
	}



/* ============================================
                  VT header
   ============================================ */
.vt-coe-header {
	background-color:white;
}
	.vt-coe-header .container > img:last-child {
		border-left:2px solid #ff6600;
		margin-left:20px;
	}



/* ============================================
                 Main header
   ============================================ */
.moss-header {
	overflow:hidden;
}
	.moss-header > .container {
		position:relative;
		height:100%;
	}
		.moss-header > .container > img {
			position:absolute;
			left:-60px;
			height:100%;
			z-index:10;
		}
		.moss-header > .container > a {
			position:relative;
			z-index:10;
		}
		.moss-header > .container a:nth-of-type(1) img {
			left:11px;
		}
		.moss-header > .container a:nth-of-type(2) img {
			display:none;
		}
		.moss-header > .container a:nth-of-type(3) img {
			display:none;
		}
		.moss-header > .container > .moss-search-block {
			float:right;
		}

/* ============================================
                   Mobile Nav
   ============================================ */
		.moss-header > .container .mobile-nav {
			position:fixed;
			top:0;
			right:0;
			width:100%;
			height:50px;
			display:none;
			z-index:3;
		}
		.moss-header > .container .mobile-nav.visible {
			background-color:#292323;
			z-index:1000;
		}
			.moss-header > .container .mobile-nav img {
				margin-left:20px;
				display:none;
				position:static;
				float:left;
			}
			.moss-header > .container .mobile-nav.visible img {
				display:block;
			}
			.moss-header > .container .mobile-nav a:first-child img {
				width:27px;
				height:54px;
				position:relative;
				top:10px;
				left:0;
			}
				.moss-header > .container .mobile-nav a img {
					height:100%;
				}
			.moss-header > .container .mobile-nav a:nth-of-type(2) img {
				margin-left:50px;
			}
			.moss-header > .container .mobile-nav .mn-button {
				display:block;
				position:absolute;
				height:100%;
				right:0;
				top:0;
				vertical-align:middle;
			}
				.moss-header > .container .mobile-nav .mn-button > i {
					height:100%;
					display:inline-block;
					padding:11px;
					color:white;
					cursor:pointer;
					position:relative;
					z-index:2;
					font-size:25px;
				}
				.moss-header > .container .mobile-nav .mn-button .mn-menu {
					position:absolute;
					right:-260px;
					top:0;
					margin-top:50px;
					overflow:auto;
					width:260px;
					background-color:#292323;
					height:0;
					overflow:auto;
					transition:all .5s;
					height:calc(100vh - 50px);
					z-index:6;
				}
				.moss-header > .container .mobile-nav .mn-button .mn-menu.open {
					right:0;
				}
					.moss-header > .container .mobile-nav .mn-button .mn-menu .mn-menu-item {
						border-top:2px solid #777;
					}
						.mobile-nav .mn-menu-item > a {
							display:inline-block;
							padding:20px;
							color:white;
						}
						.mobile-nav .mn-menu-item .expand {
							float:right;
							color:white;
						}
							.mobile-nav .expand i.fa {
								padding:20px;
								font-size:20px;
							}
					.mobile-nav .mn-menu .mn-subnav {
						height:0;
						overflow:hidden;
						transition:height .5s;
					}
						.mobile-nav .mn-subnav > a {
							display:block;
							padding:10px 20px 10px 30px;
							color:white;
							border-top:2px solid #777;
							background-color:#557082;
						}
						.mobile-nav .mn-subnav > a:last-child {
							padding-bottom:30px;
						}





.flypanels-content.content {
	background-color:#e3eff1;
	margin-top:30px;
}
	.flypanels-content.content > div {
		position:relative;
		overflow:hidden;
	}
.breadcrumbs {
	background-color:white;
	padding:5px 0 30px;
}
	.breadcrumbs .container {
		padding:0 15px;
	}




/* ============================================
                   Left nav
   ============================================ */
.left-side {
	position:relative;
	padding:0;
}
	.left-side * {
		background-color:inherit !important;
	}
	.left-side .left-container {
		position:relative;
	}
	.left-side .left-container.fixed {
		position:fixed;
	}
	.left-side .left-container.absolute {
		position:absolute;
	}
		.left-side .left-container .left-nav-item {
			border-bottom:1px solid #CCC;
			padding:4px 0 0;
			display:block;
			margin-right:10px;
		}
		.left-side .left-container .subnav {
			margin-left:10px;
			overflow:hidden;
			height:0;
			transition:height .5s;
		}
			.left-side .left-container .subnav > div:last-child {
				padding-bottom:10px;
			}
		.left-side .left-container > div:last-child {
			border:none;
		}
		.left-side .left-container > h1 {
			font-size:1.1em;
			font-weight:500;
			margin:20px 0;
			padding:0;
			border:none;
			text-transform:uppercase;
			color:#660000;
		}
			.left-side .left-container > div > .glyphicon {
				cursor:pointer;
			}
			.left-side .left-container > div > a {
				color:black;
				font-weight:500;
			}
			.left-side .left-container > div > span {
				margin-left:10px;
			}
		.left-side .left-container > .extra-left-bar {
			margin-top:30px;
		}
			.left-side .left-container > .extra-left-bar img {
				width:100%;
			}
		
	
	
/* ============================================
                   Main content
   ============================================ */
.right-side {
	background-color:white;
	overflow:hidden;
	padding-left:20px;
	height:100%;
	min-height:1000px;
	padding-bottom:40px;
}
	.right-side .bucket {
		max-width:1000px;
		width:100%;
		padding-left:20px;
	}
		.bucket ul li {
			position:relative;
		}
			.bucket ul li:before {
				font-family:"FontAwesome";
				content:"\F105";
				position:absolute;
				left:-20px;
				top:0;
			}
			ul.tagcloud li:before {
				content:none;
			}
	.right-side h1.page-heading {
		background-color:#660000;
		color:white;
		margin:0 0 20px;
		padding:10px 50px 10px 20px;
		font-size:2em;
		position:relative;
	}
		.right-side h1.page-heading > span {
			position:relative;
			z-index:2;
		}
		.right-side h1 img {
			position:absolute;
			right:0;
			top:0;
			z-index:1;
			height:100%;
		}
		.right-side h1.page-heading .msn-toggle {
			position:absolute;
			bottom:0;
			right:0;
			z-index:2;
			display:none;
		}
			.right-side .msn-toggle i {
				padding:10px 20px;
			}
		.right-side .mobile-side-nav {
			height:0;
			display:none;
			margin-bottom:20px;
			overflow:hidden;
			height:0;
			transition:all .5s;
		}
			.mobile-side-nav .msn-item {
				position:relative;
				border-bottom:2px solid #999;
				padding-top:13px;
				min-height:50px;
				padding-left:20px;
			}
			.mobile-side-nav .sn-toggle {
				position:absolute;
				right:20px;
				top:13px;
			}
			.mobile-side-nav .msn-subnav {
				height:0;
				overflow:hidden;
				margin-left:15px;
				transition:all .5s;
				line-height:1.2;
			}
				.mobile-side-nav .sn-item {
					padding:13px 0;
				}



/* ============================================
                Homepage Video
   ============================================ */
.parbase.no-pad {
	padding:0;
	margin:0;
}
.vt-vtcontainer-content {
	overflow:hidden;
	position:relative;
}
.ytvid-main {
	width:100%;
	padding-right:220px;
	margin-bottom:0;
}
.ytvid-side {
	width:200px;
	position:absolute;
	right:0;
	top:0;
}
	.ytvid-side img {
		width:100%;
		margin-bottom:10px;
		background-color:#ff6600;
		cursor:pointer;
	}
	.ytvid-side img:hover {
		opacity:.5;
	}
	.vid-button {
		position:absolute;
		right:0;
		bottom:0;
	}
		.vid-button i.fa {
			margin-left:10px;
		}


/* ============================================
                People Pages
   ============================================ */
.contact-card {
	padding:20px;
	background-color:#eee9d7;
	overflow:hidden;
}
	.contact-card .img-wrap {
		float:left;
		width:240px;
		padding-right:20px;
	}
		.img-wrap img {
			width:100%;
			max-width:300px;
			margin:0 auto;
			display:block;
		}
	.contact-card .info-wrap {
		float:left;
		width:calc(100% - 240px);
	}
		.info-wrap h3 {
			font-weight:500;
			font-size:20px;
		}
		.info-wrap hr {
			border-top-color:#BBB;
			margin:15px 0;
		}
		.info-wrap .info {
			position:relative;
			padding-left:30px;
			line-height:1.2;
		}
			.info-wrap .info .fa {
				position:absolute;
				top:3px;
				left:0;
				color:#ff6600;
				font-size:19px;
			}
			.info-wrap .info p {
				margin:0;
			font-weight:300;
			}
			.info-wrap .info a {
				font-size:16px;
			}
	.contact-card h2 {
		font-size:20px;
		margin-top:0;
		font-weight:500;
	}
	.contact-card .half {
		float:left;
		width:50%;
	}
		.contact-card .half li {
			line-height:1.2;
			margin-bottom:10px;
		}

/* ============================================
                   Responsive
   ============================================ */
@media (max-width: 991px) {
	.ytvid-main {
		padding-right:0;
	}
	.ytvid-side {
		display:none;
	}
	.vid-button {
		position:relative;
		margin:20px auto;
	}
}
@media (max-width: 767px) {
	html.flypanels-open, body.flypanels-open {
		overflow:hidden;
	}
	.vt-coe-header {
		display:none;
	}
	.moss-header {
		height:50px;
	}
		.moss-header > .container {
		}
			.moss-header > .container .mobile-nav {
				display:block;
			}
			.moss-header > .container > img {
				display:none;
			}
			.moss-header > .container > a:nth-of-type(1) img {
				display:none;
			}
			.moss-header > .container > a:nth-of-type(2) img {
				display:block;
				border-right:2px solid #ff6600;
				height:70%;
				margin-top:7px;
				position:static;
				float:left;
			}
			.moss-header > .container > a:nth-of-type(3) img {
				display:block;
				height:100%;
				position:static;
				float:left;
				margin-left:10px;
			}
	.flypanels-content.content {
		margin-top:20px;
	}
	
	.left-side .left-container {
		display:none;
	}
	.right-side .mobile-side-nav {
		height:auto;
		display:block;
	}
	.right-side h1.page-heading .msn-toggle {
		display:block;
	}
		
	.carousel-caption.left p {
		margin-bottom:20px;
	}
	
	.right-side .bucket {
		padding-left:0;
	}
	
	.uc-nav-c {
		display:none;
	}
}

@media (max-width: 670px) {
	.col-sm-12.right-side {
		padding-left:0;
		padding-right:0;
	}
	.flypanels-content .container {
		padding-left:15px;
		padding-right:15px;
	}
	.carousel-caption.left {
		padding-left:20px;
		padding-right:20px;
	}
		.carousel-caption.left h3 {
			font-size:20px;
		}
		.carousel-caption.left p {
			font-size:16px;
		}
	
	
}

@media (max-width: 500px) {
	.contact-card .img-wrap {
		width:100%;
	}
	.contact-card .info-wrap {
		width:100%;
	}
}
