body {
	background-color:white;
}

.side-nav {
	float:left;
	height:100%;
}

.right-col-margin-8 {
	margin-left:0;
}

.flypanels-container .flypanels-main .flypanels-content {
	transform:none;
	-o-transform:none;
	-ms-transform:none;
	-moz-transform:none;
	-webkit-transform:none;
}

.page-title {
	display:none;
}

p {
	line-height:1.4;
}

.shield {
	visibility:hidden;
	width:0;
}

#vt_access_nav {
	position:absolute;
	width:100%;
}
#vt_access_nav.navbar-sticky {
	position:fixed;
}

.navbar-nav {
	margin-left:0;
}

.offcanvas {
	position:relative;
	z-index:1000;
}


/* ============================================
                  VT header
   ============================================ */
.vt-coe-header {
	background-color:white;
}
	.vt-coe-header .container > img:last-child {
		border-left:2px solid #ff6600;
		margin-left:20px;
	}



/* ============================================
                 Main header
   ============================================ */
.moss-header {
	overflow:hidden;
}
	.moss-header > .container {
		position:relative;
	}
		.moss-header > .container img {
			position:absolute;
			left:-60px;
			height:87px;
		}
		.moss-header > .container img:last-child {
			left:11px;
		}
		.moss-header > .container > .moss-search-block {
			float:right;
		}



/* ============================================
               Horizontal nav
   ============================================ */
.navbar-nav.nav-menu > li:first-child {
	visibility:hidden;
	width:0;
}




.flypanels-content.content {
	background-color:#e3eff1;
	margin-top:70px;
}
	.flypanels-content.content > div {
		position:relative;
		overflow:hidden;
	}
.breadcrumbs {
	background-color:white;
	padding:5px 0 30px;
}
	.breadcrumbs .container {
		padding:0 15px;
	}




/* ============================================
                   Left nav
   ============================================ */
.left-side {
	position:relative;
	padding:0;
}
	.left-side * {
		background-color:inherit !important;
	}
	.left-side .left-container {
		position:relative;
	}
	.left-side .left-container.fixed {
		position:fixed;
	}
	.left-side .left-container.absolute {
		position:absolute;
	}
		.left-side .left-container .left-nav-item {
			border-bottom:1px solid #CCC;
			padding:4px 0 0;
			display:block;
			margin-right:10px;
		}
		.left-side .left-container .subnav {
			margin-left:10px;
			overflow:hidden;
			height:0;
			transition:height .5s;
		}
			.left-side .left-container .subnav > div:last-child {
				padding-bottom:10px;
			}
		.left-side .left-container > div:last-child {
			border:none;
		}
		.left-side .left-container > h1 {
			font-size:1.1em;
			font-weight:500;
			margin:20px 0;
			padding:0;
			border:none;
			text-transform:uppercase;
			color:#660000;
		}
			.left-side .left-container > div > .glyphicon {
				cursor:pointer;
			}
			.left-side .left-container > div > a {
				color:black;
				font-weight:500;
			}
			.left-side .left-container > div > span {
				margin-left:10px;
			}
		.left-side .left-container > .extra-left-bar {
			margin-top:30px;
		}
			.left-side .left-container > .extra-left-bar img {
				width:100%;
			}
		
	
	
/* ============================================
                   Main content
   ============================================ */
.right-side {
	background-color:white;
	overflow:hidden;
	padding-left:20px;
	height:100%;
}
	.right-side .bucket {
		max-width:1000px;
		width:100%;
		padding-left:20px;
	}
	.right-side h1.page-heading {
		background-color:#660000;
		color:white;
		margin:0 0 20px;
		padding:10px 20px;
		font-size:2em;
		position:relative;
	}
		.right-side h1.page-heading > span {
			position:relative;
			z-index:5;
		}
		.right-side h1 img {
			position:absolute;
			right:0;
			top:0;
			z-index:1;
		}
		

/* ============================================
                   Responsive
   ============================================ */
@media (max-width: 767px) {
	.vt-coe-header {
		display:none;
	}
	
	.flypanels-content.content {
		margin-top:20px;
	}
	
	.left-side .left-container {
		display:none;
	}
}
